name: Release
on:
  push:
    branches:
      - master
      - next

permissions:
  id-token: write  # Required for OIDC
  contents: write # for checkout
  issues: write
  pull-requests: write
  deployments: write

env:
  GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: yarn

      - name: Testing
        run: yarn lint

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: yarn audit signatures

      - name: Release
        run: npx semantic-release
